<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.EmployeeDBConnectionString"
            connectionString="Data Source=OSMAN_MIS\SQL2022;Initial Catalog=EmployeeDB;Persist Security Info=True;User ID=sa;Password=12345678;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>